# Виртуальное окружение
.venv/

# Данные (исходные, промежуточные и обработанные)
data/

# Логи работы скриптов
logs/

# Локальные базы данных SQLite
*.db
*.sqlite3

# Кэш интерпретатора Python
__pycache__/
*.pyc

# Секретные конфигурационные переменные и пароли
.env

# Служебные файлы Jupyter Notebook
.ipynb_checkpoints/